.breadcrumb {
	@extend %containerify;
	padding: 0 1rem;
	font-size: 0.875rem;
	box-sizing: content-box;

	ol {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
	}

	li .icon {
		margin: 0 0.5rem;
		width: 0.5rem;
		height: 0.5rem;
	}
	
	a {
		text-decoration: none;
		color: #555;
		display: flex;
		align-items: center;

		&:hover {
			text-decoration: underline;
		}

		&[aria-current=page] {
			color: black;
		}
	}
}