.title-block {
	background-color: #39364b;
	color: white;
	clip-path: polygon(0px 0px, 0px 100%, 20% calc(100% - 3rem), 65% calc(100% - 1rem), 100% calc(100% - 4rem), 100% 0px);

	.container {
		@extend %containerify;
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 4rem;
	}

	.title-area {
		flex-basis: 5rem;
		flex-grow: 1;
		margin: 0 1rem;
	}

	h1 {
		margin: 0;
		font-size: 3rem;
		font-family: 'Fira Code', monospace;
	}

	p {
		font-size: 1.25rem;
		color: #29e2e8;
	}
}
